NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
HELEKET_API_URL=https://api.heleket.com/v1
HELEKET_MERCHANT_UUID=
HELEKET_PAYMENT_API_KEY=
HELEKET_PAYOUT_API_KEY=
HELEKET_CALLBACK_IP=31.133.220.8
CRON_SECRET=
